<html>
<head>
    <link href="/assets/stylesheets/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<h1>Note Title : <%= NOTE.note_title %></h1>
<span><%= NOTE.note_date %>
</span>
<p>Note Description: <%= NOTE.note_body %></p>
</body>
</html>